* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}
body {
  background-image:
    url('../img/bg.jpg'),
    url('../img/grain_ss.gif');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover, 600px;
  background-blend-mode: overlay;
}
a {
  color: #fff;
}
@media (max-width: 360px) {
  ul.dist{
    margin-top:2rem;
  }
  ul.team li {
    margin:0.7rem 0rem;
    width:100%;
    text-align: center;
  }
}
.wrapper{
  height:100%;
}

.container{
  height: 100%;
  max-width: 26em;
  color:#fff;
}
.container ul li {
  display:inline-block;
}
.container header {
  /**
   * State pre-load
   *
   * @type {State}
   */
  
  will-change: transform;
  -webkit-animation-name: loadHeader;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 400ms;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  font-weight:bold;
  font-size:1.1rem;

  -webkit-transform: translate(0, 40xp);
  transform: translate(0, 2.5rem);

  /*-webkit-transform: translate(0, 2.5rem);
  transform: translate(0, 2.5rem);*/
}
.container ul.dist{
  will-change: transform;
  -webkit-animation-name: loadDist;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 400ms;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  opacity:0;
  justify-content: center;

  -webkit-transform: translateY(0rem);
  transform: translateY(0rem);
}

@-webkit-keyframes loadTeam {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}

@-webkit-keyframes loadHeader {
  from {
    -webkit-transform: translate(0, 2.5rem);
    transform: translateY(0, 2.5rem);
  }

  to {
    -webkit-transform: translate(0, 0rem);
    transform: translate(0, 0rem);
  }
}


@keyframes loadHeader {
  from {
    -webkit-transform: translateY(2.5rem);
    transform: translateY(2.5rem);
  }

  to {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
}

@-webkit-keyframes loadDist {
  0%{
    -webkit-transform: translateY(-2.5rem);
    transform: translateY(-2.5rem);
  }

  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity:1;
  }
}
.container ul.team {
  margin:1.5rem 0;
  text-align: center;
  display: block;
  align-items: center;
  position: relative;
  /**
   * State pre-load
   *
   * @type {State}
   */
  opacity: 0;
  -webkit-animation-name: loadTeam;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0.69s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards; 
  font-size:1rem;
  line-height: 1.9;
}
.container ul.team li{
  margin:0 0.3rem;
  position: relative;
}
.container ul.dist li {
  margin:0 0.4rem;
  display:flex;
  text-align: center;
  align-items: center;
}

img.dist-logo {
  margin:0 0.4rem;
  max-height:25px;
  max-width:25px;
}
/**
 * Animations
 */
