* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 14px;
}

a {
  color: #000;
}

body {
  background:  #ffedca;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
}

body:after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(../images/noise-texture.png);
  position: absolute;
  z-index: -1;
  opacity: 0.15;
}

.container-fluid-height{
  height: 100%;
  max-width: 68em;
}

.row-full {
  height: 100%;
}

.main-logo {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin: 2rem 0;
}

.nerd {
  margin-bottom: 2rem;
}

strong.name {
  font-weight: 700;
  display: block;
}

a.webpage {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 48em) {
  .main-logo {
    display: inline-block;
    width: 100%;
  }
}