* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 16px;
}

body {
  background: #00000f;
  background-image: url('../tundra.gif');
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  position: relative;
}

.text {
  color: white;
  text-shadow: 0.2rem 0.2rem 0 #0128d1, -0.2rem -0.2rem 0 #ca00e3;
}

a.text {
  color: white;
  text-decoration: none;
}

a:hover.text,
a:active.text {
  text-shadow: none;
}

.content-container {
  position: absolute;
  font-size: 1rem;
  left: 0;
  right: 0;
  top: 6.9rem; /* rip */
}

.coming-soon {
  color: white;
}

.social-icons {
  margin-top: 2rem;
}

.social-icons li {
  display: inline-block;
}

.social-icons li:not(:first-of-type) {
  margin-left: 2rem;
}
